.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60%;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;

    label {
        margin: 10px 0;
        input {
            margin-left: 10px;
        }
    }
}