.container {
    display: flex;
    width: 45%;
    margin: 15px 0;

    user-select: none;

    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;

    color: white;

    border: 2px solid rgb(179, 0, 30);
    background: rgb(248, 74, 74);
}

.containerPicking {
    display: flex;
    width: 45%;
    margin: 15px 0;

    user-select: none;

    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;

    color: white;

    border: 2px solid rgb(44, 44, 44);
    background: rgb(97, 97, 97);
}

.cardContainer {
    display: flex;
    width: 100%;
    margin: 10px;
    img {
        border-radius: 100%;
        align-self: center;
        background: white;
    }
}

.cardRight {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    margin: 5px 10px;

    header {
        display: flex;
        width: 100%;
        justify-content: flex-end;
        align-items: center;

        font-size: 1.4rem;

        h3 {
            margin-left: 15px;
        }

    }
}

.name {
    font-weight: bold;
}

.statsContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: end;
}

.statContainer {
    margin: 5px 10px;
    h5 {
        color: rgb(255, 241, 160);
        font-size: 1rem;
        font-weight: bolder;
        text-align: end;
    }
    p {
        text-align: end;
        font-weight: bold;
        font-size: 1.4rem;
    }
}
